<div class="home">
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="https://storage.googleapis.com/coverr-main/mp4/Hello-World.mp4"
      type="video/mp4"
    />
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Steam Browser</h1>
        <p class="lead mb-0">Alternative platform for Steam Game discussion</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <p>
        Welcome
      </p>
    </div>
  </div>
</div>
