<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <span class="navbar-brand">Steam Browser</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/games">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/statistics">Statistics</a>
    </li>
  </ul>
  <div class="form-inline ml-auto">
    <button
      class="btn btn-success"
      (click)="authService.login()"
      *ngIf="!authService.loggedIn"
    >
      Log In</button
    ><button
      class="btn btn-success"
      (click)="authService.logout()"
      *ngIf="authService.loggedIn"
    >
      Log Out
    </button>
  </div>
</div>
