<div class="jumbotron" style="margin-top:60px;">
  <h1>Steam Directory</h1>
  <h2 style="padding-right: 10px;" class="text-success">
    Displaying page {{ this.page }}
  </h2>
</div>

<div class="container-fluid">
  <div class="row" style="padding: 10px;">
    <div
      style="padding-right: 10px;"
      class="searchbar form-inline md-form mr-auto mb-4"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Game Title"
        [ngModel]="name"
        (keyup.enter)="searchName(searchInput.value)"
        #searchInput
      />
      <div class="input-group-prepend">
        <!-- Sort Type Combobox [Price/Release Date]-->
        <select
          class="browser-default custom-select"
          style="margin-left: 10px;"
          [ngModel]="sort"
          (change)="setSort($event.target.value)"
        >
          <option value="0" selected="">Sort By</option>
          <option value="1">Release Date</option>
          <option value="2">Price</option>
        </select>
        <!-- Sort Method Combobox [ASC/DESC]-->
        <select
          class="browser-default custom-select"
          style="margin-left: 10px;"
          [ngModel]="sortStruct"
          (change)="setSortStruct($event.target.value)"
        >
          <option value="1" selected="">Descending</option>
          <option value="2">Ascending</option>
        </select>
        <!-- Search Button-->
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName(searchInput.value)"
          style="margin-left: 10px;"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let game of webService.steamGames_list | async">
      <div class="col-md-* m-1">
        <div class="steamListing card text-success bg-dark ">
          <div class="card-header">{{ game.name }}</div>
          <img
            class="card-img-top"
            src="https://steamcdn-a.akamaihd.net/steam/apps/{{
              game.appid
            }}/header.jpg"
            alt="Image Unavailable"
          />
          <div class="card-body">
            Developed by: Published by: Released in
            {{ game.release_date }} <br />
            Average Playtime is {{ game.average_playtime }} Hours <br />
            Achievements available: {{ game.achievements }}<br />
            Developer:
            <a *ngFor="let item of game.developer"> {{ item }}, </a>
            <br />
            Publisher:
            <a *ngFor="let item of game.publisher"> {{ item }}, </a>
            <br />
            Genres: <a *ngFor="let item of game.genres"> {{ item }}, </a>
            <br />
            Platforms:
            <a *ngFor="let item of game.platforms"> {{ item }}, </a>
            <br />
            Categories:
            <a *ngFor="let item of game.categories"> {{ item }}, </a><br />
            <a class="nav-link" routerLink="/games/{{ game.appid }}">Test</a>
          </div>
          <div class="card-footer">Price: £{{ game.price }}</div>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- ngFor-->
  </div>
  <!-- Row -->
  <div class="row fixed-bottom" style="margin: 2px;">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
